.main {
  >section {
    padding: 1em;
    border-top: 2px solid black;
  }

  p, ul li {
    line-height: 1.5em;
  }

  h2 {
    padding-top: .4em;
  }

  p {
    font-size: 1.1rem;
  }

  ul {
    padding: .4em 0;
  }

  ul, li {
    list-style: none;
  }

  li {
    padding: 0;
    border: 1px dotted black;
    margin-bottom: 1rem;
  }

  li p {
    font-size: .9rem;
    padding: .2rem .7rem .6rem;
    margin: 0;
  }

  li a {
    display: block;
    color: black;
    font-size: 1.2rem;
    padding: .7rem;
    &:after {content: " »"}
  }

  a {
    text-decoration: underline;
  }
}